/* For header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f5f5f5;
  padding: 2px 40px;
  margin-bottom: 5px;
  border-bottom: 2px solid #ddd;
  position: sticky;
  top: 0;
  z-index: 1000;
}
.header img {
  width: 82px;
  height: 70px;
}

.header p {
  font-family: "Segoe UI", Frutiger, "Myriad Pro", Arial, sans-serif;
  font-size: 24px;
  font-weight: 700;
  font-style: normal;
  font-weight: bold;
  color: #1202a1;
  margin: 0px;
  padding-left: 7px;
  letter-spacing: 0.5px;
}

#tagline{
    padding: 9px;
    margin: 0px;
}
.h1 {
  display: flex;
}
.logo {
  display: flex;
}

.header ul {
  display: flex;
  list-style-type: none;
  align-items: center;
}

.header ul li {
  margin: 10px;
}

/* end of recent edits */

/* for container */
.container{
     display: flex;
    justify-content: space-between;
    align-items: flex-start;

    width: 90%;
    margin: 50px auto;
}
.industry_image{
     width:900px;
    max-width:100%;
    border-radius:10px;
    height:515px;
    margin-left:50px;
    margin-right:0px;
}
form{
    width:450px;
    background:white;
    height:450px;
    padding:30px;

    border-radius:12px;
    box-shadow:0 4px 15px rgba(0,0,0,0.15);
}  
.container h2{
    margin-bottom:20px;
    color:#003366;
} 
form label{
    display: -webkit-box;

    margin-bottom: 0px;
    margin-top: 0px;

    font-size: 16px;
    font-weight: bold;

    color: #333;
}
form input[type="text"],
form input[type="password"],
form input[type="email"]{

    width: 50%;

    padding: 5px;

    border: 1px solid #ccc;
    border-radius: 6px;

    font-size: 15px;

    margin-bottom: 15px;
}
form input:focus{

    outline: none;

    border-color: #0056b3;

    box-shadow: 0 0 6px rgba(0,86,179,0.4);
}
form button.login-btn{

    width: 100%;

    background: #0056b3;

    color: white;

    border: none;
    border-radius: 6px;

    padding: 12px;

    font-size: 16px;
    font-weight: bold;

    cursor: pointer;
}
.role-selection{
    display:flex;
    gap:30px;
    margin-bottom:20px;
    font-size:18px;
    font-weight:bold;
}

.role-selection label{
    display:flex;
    align-items:center;
    gap:8px;
    cursor:pointer;
}

.role-selection input[type="radio"]{
    width:18px;
    height:18px;
}

#admin-field{
    margin-bottom:15px;
}
form button.login-btn:hover{
    background: #003d80;
}

.login-header{
    text-align:center;
    font-size:30px;
    font-weight:bold;
}

/* FOOTER */

footer{
    background:#001f3f;
    color:white;
    text-align:center;
    padding:30px;
}

footer p{
    margin-top:10px;
}

/* animation */
body{
    opacity:0;
    animation:fadeIn .5s forwards;
}

@keyframes fadeIn{
    to{
        opacity:1;
    }
}