<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logout</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/logout.css') }}">
</head>
<body>

<div class="logout-container">

    <div class="logout-card">
      <img
        src="{{ url_for('static', filename='assets/profile_img/profile_img_default.png') }}"
        alt="Profile"
      />

        <h2>{{admin.name}}</h2>

        <p class="role">
            {{role}}
        </p>

        <h1>Logout</h1>

        <p class="message">
            Are you sure you want to logout from the AI Resume Screening &
            Candidate Ranking System?
        </p>

        <div class="session-info">
            <div>
                <strong>Last Login</strong>
                <p>{% if admin.last_login %}
                    {{ admin.last_login.strftime('%d %b %Y') }}
                    {{ admin.last_login.strftime('%H:%M') }}
                    {% else %}
                        Never
                    {% endif %}
                </p>
            </div>

            <div>
                <strong>Status</strong>
                <p class="active">Active Session</p>
            </div>

        </div>

        <div class="button-group">

            <button class="cancel-btn"><a href="/dashboard/admin/{{ admin.emp_id }}" >
                Cancel
            </button>

            <button class="logout-btn"><a href="/logout" >
                Logout
            </button>

        </div>

    </div>

</div>

</body>
</html>