{% extends "layout.html" %} {% block head %}
<head>
  <meta charset="utf-8" />
  <title>Create Account</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
</head>
{% endblock %} {% block content %}
<!-- create account page   -->
<div class="main_container">
  <div class="container">
    <!-- create account form -->
    <form action="/create" method="POST" enctype="multipart/form-data">
      <h2>create an account</h2>
      <label for="firstname">Full Name</label>
      <input
        type="text"
        id="Fulltname"
        name="Fullname"
        placeholder="Full name"
        required
      />
      <label for="lastname">Mobile Number</label>
      <input
        type="text"
        id="mobile_number"
        name="mobile_number"
        placeholder="Mobile number"
        required
      />
      <label for="username">Email</label>
      <input
        type="text"
        id="username"
        name="username"
        placeholder="Email ID"
        required
      />
      <label for="password">Password</label>
      <input
        type="password"
        id="password"
        name="password"
        placeholder="Password"
        required
      />
      <div class="role-selection">
        <label>
          <input
            type="radio"
            name="role"
            value="applicant"
            checked
            onclick="toggleFields()"
          />
          Applicant
        </label>

        <label>
          <input
            type="radio"
            name="role"
            value="admin"
            onclick="toggleFields()"
          />
          Admin
        </label>
      </div>

      <!-- Admin Section -->
      <div id="admin-field" style="display: none">
        <label for="employeeId">Employee No.</label>
        <input type="text" id="employeeId" name="employeeId" />
      </div>

      <!-- Applicant Section -->
      <div id="applicant-field">
        <label for="resume">Upload Resume</label>
        <input type="file" id="resume" name="resume" accept=".pdf" />

        <p id="fileName">No file selected</p>
      </div>
      <script>
        const resumeInput = document.getElementById("resume");
        const fileName = document.getElementById("fileName");

        resumeInput.addEventListener("change", function () {
          if (this.files.length > 0) {
            const file = this.files[0];

            if (!file.name.toLowerCase().endsWith(".pdf")) {
              alert("Only PDF files are allowed.");

              this.value = "";
              fileName.textContent = "No file selected";
              return;
            }

            fileName.textContent = "Selected: " + file.name;
          } else {
            fileName.textContent = "No file selected";
          }
        });
      </script>
      <script>
        function toggleFields() {
          let applicantRadio = document.querySelector(
            'input[value="applicant"]',
          );

          let adminField = document.getElementById("admin-field");

          let applicantField = document.getElementById("applicant-field");

          let employeeId = document.getElementById("employeeId");

          let resume = document.getElementById("resume");

          if (applicantRadio.checked) {
            applicantField.style.display = "block";
            adminField.style.display = "none";

            // Make resume mandatory
            resume.required = true;

            // Employee ID not mandatory
            employeeId.required = false;
          } else {
            applicantField.style.display = "none";
            adminField.style.display = "block";

            // Employee ID mandatory
            employeeId.required = true;

            // Resume not mandatory
            resume.required = false;
          }
        }

        // Run once when page loads
        window.onload = toggleFields;
      </script>

      <button class="create-btn" type="submit">Create Account</button>
      <p>Already have an account? <a href="/login">Login here</a></p>
    </form>
    <img src="{{ url_for('static', filename='assets/power-sector.jpg') }}" />
  </div>
</div>

{% endblock %}
