{% extends "layout.html" %} {% block head %}
<head>
  <meta charset="utf-8" />
  <title>Create Account</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/create_page.css') }}" />
</head>
{% endblock %} {% block content %}
<!-- create account page   -->
<div class="main_container">
  <div class="container">
    <!-- create account form -->
    <form action="/create" method="POST" enctype="multipart/form-data">
      <h2>Create an Account</h2>
            <div class="role-selection">
        <label>
          <input
            type="radio"
            name="role"
            value="applicant"
            checked
            onclick="toggleFields()"
          />
          Applicant
        </label>

        <label>
          <input
            type="radio"
            name="role"
            value="admin"
            onclick="toggleFields()"
          />
          Admin
        </label>
      </div>
      <label for="firstname">Full Name</label>
      <input
        type="text"
        id="Fulltname"
        name="Fullname"
        placeholder="Full name"
        required
      />
      <label for="lastname">Mobile Number</label>
      <input
        type="text"
        id="mobile_number"
        name="mobile_number"
        placeholder="Mobile number"
        required
      />
      <label for="username">Email</label>
      <input
        type="text"
        id="username"
        name="username"
        placeholder="Email ID"
        required
      />
      <label for="password">Password</label>
      <input
        type="password"
        id="password"
        name="password"
        placeholder="Password"
        required
      />
      <!-- Admin Section -->
      <div id="admin-field" style="display: none">
        <label for="employeeId">Employee No.</label>
        <input type="text" id="employeeId" name="employeeId" />
      </div>

      <script>
        function toggleFields() {
        const adminRadio = document.querySelector(
          'input[value="admin"]'
        );

        const adminField = document.getElementById("admin-field");
        const employeeId = document.getElementById("employeeId");

        if (adminRadio.checked) {
          adminField.style.display = "block";
          employeeId.required = true;
        } else {
          adminField.style.display = "none";
          employeeId.required = false;
        }
      }

      window.onload = toggleFields;
      </script>
      <button class="create-btn" type="submit">Create Account</button>
      <p>Already have an account? <a href="/login">Login here</a></p>
    </form>
  </div>
</div>

{% endblock %}
