<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>login page</title>
        <link rel="stylesheet" href="style3.css">
    </head>
    <body>
        <header>
        <!-- header of the page -->
        <div class="header">
            <div class="logo">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b8/BHEL_logo.svg/1280px-BHEL_logo.svg.png?utm_source=commons.wikimedia.org&utm_campaign=index&utm_content=thumbnail">
                <div class="tagline">
                    <p>Bharat Heavy Electricals Limited</p>
                    <p><h4>Powering Progress,Brightening Lives Touching Every Indian Home</h4></p> 
                </div>
            </div>
            <div class="profile">
                <p>Welcome,<br>applicant name</p>
                <button>logout</button>
            </div>
        </div>
       </header>
      <!-- Navigation -->
    <nav>
        <a href="dashboard_applicant2.html" class="active">Dashboard</a>
        <a href="myapplication.html">My Applications</a>
        <a href="jobsearch.html">Job Search</a>
        <a href="profile.html">Profile Settings</a>
    </nav>
</body>
</html>