<!doctype html>
<html>
  {% block head %}
  <!--head content-->
  {% endblock %}
  <body>
    <header>
      <!-- header of the page -->
      <div class="header">
        <div class="logo">
          <img src="{{ url_for('static', filename='assets/BHEL_logo.png') }}" />
          <div>
            <p>Bharat Heavy Electricals Limited</p>
            <h4 id="tagline">
              Powering Progress,Brightening Lives Touching Every Indian Home
            </h4>
          </div>
        </div>
        <div class="profile">
          <p>Welcome,<br />{{ applicant.name }}</p>
          <a href="/logout"><button class="btn">logout</button></a>
        </div>
      </div>
    </header>

    {% block content %}
    <!-- Main Content-->
    {% endblock %}

    <!-- Footer -->
    <footer>
      <a href="#">About BHEL</a>
      <a href="#">Contact HR</a>
      <a href="#">FAQ</a>
      <a href="#">Privacy Policy</a>
      <a href="#">BHEL Careers</a>
    </footer>
  </body>
</html>
