<!-- first page of the login, first create an account -->
<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>login page</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <header>
      <!-- header of the page -->
      <div class="header">
        <div class="logo">
          <img src="{{ url_for('static', filename='assets/BHEL_logo.png') }}" />
          <div>
            <p>Bharat Heavy Electricals Limited</p>
            <h4 id="tagline">
              Powering Progress,Brightening Lives Touching Every Indian Home
            </h4>
          </div>
        </div>
        <ul>
          <li><a href="/home" style="text-decoration: none">Home</a></li>
          <li><a href="/login" style="text-decoration: none">Login</a></li>
        </ul>
      </div>
      <!-- hero section -->
    </header>

    {% block content %}
    <!-- Main Content-->
    {% endblock %}
  </body>
</html>
