{% extends "layout.html" %} {% block content %}

<!-- login page -->
{% with messages = get_flashed_messages(with_categories=True) %}
{% if messages %}
{% for category,message in messages %}
<div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
  {{ message }}
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endfor %} {% endif %} {% endwith %}
<div class="container">
  <form action="/login" method="post">
    <div class="login-header">
      <h2>Login</h2>
    </div>
    <div class="role-selection">
      <label>
        <input
          type="radio"
          name="role"
          value="applicant"
          checked
          onclick="toggleFields()"
        />
        Applicant
      </label>

      <label>
        <input
          type="radio"
          name="role"
          value="admin"
          onclick="toggleFields()"
        />
        Admin
      </label>
    </div>

    <!-- Admin Section -->
    <div id="admin-field" style="display: none">
      <label for="employeeId">Employee No.</label>
      <input type="text" id="employeeId" name="employeeId" />
    </div>

    <!-- Applicant Section -->
    <div id="applicant-field" style="display: none">
      <label for="email">Email id</label>
      <input type="text" id="email" name="email" />
    </div>

    <script>
      function toggleFields() {
        let applicantRadio = document.querySelector('input[value="applicant"]');

        let adminField = document.getElementById("admin-field");

        let applicantField = document.getElementById("applicant-field");

        let employeeId = document.getElementById("employeeId");

        let email = document.getElementById("email");

        if (applicantRadio.checked) {
          applicantField.style.display = "block";
          adminField.style.display = "none";

          // Make resume mandatory
          email.required = true;

          // Employee ID not mandatory
          employeeId.required = false;
        } else {
          applicantField.style.display = "none";
          adminField.style.display = "block";

          // Employee ID mandatory
          employeeId.required = true;

          // Resume not mandatory
          username.required = false;
        }
      }

      // Run once when page loads
      window.onload = toggleFields;
    </script>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required /><br /><br />
    <button class="login-btn" type="submit">login</button>
    <p>Don't have an account? <a href="/create">Create an account</a></p>
  </form>
  <img
    src="{{ url_for('static', filename='assets/power-sector.jpg') }}"
    class="industry_image"
  />
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

{% endblock %}
